<!DOCTYPE html>
<html>
<head>
  <title>Add movie</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>Add a New movie</h1>
  <form action="/users/<%= user._id %>/movies" method="POST">
    <label>Name: <input type="text" name="name" ></label><br>
    <label>director: <input type="text" name="director" ></label><br>
    <label>watched: <input type="checkbox" name="watched"></label><br>
    <label>notes: <input type="text" name="notes"></label><br>
        <label>Description: <input type="text" name="description"></label><br>
  <label>Rating (1-10): <input name="rating" type="number" min="1" max="10"></label>
   <button type="submit">done</button>
  </form>
  <a href="/users/:userId/movies"> Back</a>
</body>
</html>
